@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rdp-selected .rdp-day_button {
  background-color: #f97316 !important;
  color: white !important;
  border: none !important;
  border-radius: 50% !important;
}

.rdp-today:not(.rdp-selected) .rdp-day_button {
  color: #f97316 !important;
  font-weight: 700;
}
